.header-top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #171717;
  border-bottom: 3px solid #61dafb;
  z-index: 1000;
}

.header {
}
.title {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 8px;
  text-transform: uppercase;
  width: 100%;
}

.App {
  margin-top: 65px;
  margin-left: 25%;
  width: 75%;
  background: #202124;
  color: white;
  min-height: 120vh;
}

.margin-auto {
  width: 80%;
  margin: 0px auto;
  max-width: 768px;
}

.menu-btn {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #1f1f1f;
  background-color: #61dafb;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  visibility: hidden;
}

.menu-btn:hover {
  background: white;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100%;
    margin-top: 65px;
    margin-left: 0px;
    padding: 0;
  }
  .menu-btn {
    visibility: visible;
  }
  .margin-auto {
    width: 95%;
    margin: 0 auto;
  }
}
