.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0%;
  background: #171717;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.nav-list {
  width: 100%;
}

.nav-list-item {
  display: block;
  text-transform: uppercase;
  height: 40px;
  background: #ccc;
  color: #1f1f1f;
  font-weight: bold;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 80%;
  max-width: 320px;
}

.nav-list-item:hover {
  background-color: #1f1f1f;
  color: white;
  font-weight: bold;
  transition: background-color 0.35s ease-in;
}

.nav-list-item-active {
  background-color: #1f1f1f;
  color: #61dafb;
  font-weight: bold;
  border-left: 3px solid #61dafb;
  border-right: 3px solid #61dafb;
  transition: background-color 0.35s ease-in;
}

Link {
  text-decoration: none;
}
.menu-close-btn {
  width: 20%;
  margin: 1em auto;
  color: #1f1f1f;
  background-color: #61dafb;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
}

.menu-close-btn:hover {
  color: #61dafb;
  background-color: #1f1f1f;
}

.menu-close-img {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 768px) {
}
