.course-details-wrapper {
  position: relative;
  margin: 1em auto;
  text-align: left;
}

.course-details-name,
.course-details-initials,
.course-details-department,
.course-details-info {
  font-size: 1.5em;
  margin: 1em;
  font-weight: bold;
  text-align: center;
  color: #61dafb;
}
.course-details-name {
  font-size: 2em;
}
.course-details-initials {
  letter-spacing: 10px;
}

.course-details-grading,
.course-details-teaching,
.course-details-friendliness,
.course-details-overall {
  position: relative;
  padding: 1em;
  background: rgb(114, 111, 111);
  margin: 10px auto;
  border-radius: 10px;
  color: #61dafb;
  font-weight: bold;
  z-index: 5;
}
.course-details-overall {
  text-align: center;
  color: #61dafb;
}
.course-details-text-bg {
  background-color: #171717;
  color: #61dafb;
  border-radius: 5px;
  padding: 5px;
}

.course-details-overlay {
  position: absolute;
  top: 0;
  left: -1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  background: white;
  z-index: -1;
}
.course-details-overall-background-overlay {
  color: black;
  background: #fdcc0d;
}

.course-wrapper {
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
}

.wrapper-general {
  margin: 1em auto;
}

.fd-rating-wrapper {
  padding: 1em;
  border-radius: 10px;
  background: white;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.fd-rating-bar-wrapper {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-shrink: 0;
}
.fd-average-rating {
  width: 20%;
  flex-shrink: 0;
}
.fd-rating-bar {
  width: 5px;
  height: 20px;
  background: red;
  margin-left: 5px;
}

.fd-course-vote-count {
  flex: 8;
  font-size: 0.8em;
  text-align: center;
}

.fd-red {
  color: red;
}

.submit-comment-btn,
.submit-btn {
  padding: 1em;
  background: #61dafb;
  color: #1f1f1f;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.submit-comment-btn:hover,
.submit-btn:hover {
  color: #61dafb;
  background: #1f1f1f;
}

.tab-btn-wrapper {
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
}

.course-details-comments,
.course-details-rate,
.tab-btn {
  width: 49%;
  padding: 1em;
  cursor: pointer;
  color: #61dafb;
  background-color: #202124;
  border: 2px solid #61dafb;
  border-radius: 10px;
}

.course-details-comments,
.course-details-rate {
  text-align: center;
  width: 100%;
  margin: 1em 0px;
}

.course-details-comments:hover,
.course-details-rate:hover {
  background-color: #61dafb;
  color: black;
}

.course-details-active,
.tab-btn-active {
  background-color: #61dafb;
  color: black;
  font-weight: bold;
}

.course-details-active:hover {
  border: 2px solid #61dafb;
  color: black;
}

.info-header {
  text-align: center;
  margin: 1em auto;
  font-weight: bold;
  color: #61dafb;
}

.comment-page-buttons {
  width: 90%;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-next-btn,
.comment-prev-btn {
  width: 20%;
  margin: 10px auto;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  background: #61dafb;
  color: #1f1f1f;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.comment-next-btn:hover,
.comment-prev-btn:hover {
  color: #61dafb;
  background-color: #1f1f1f;
}

