.title {
    text-align: center;
    border-bottom: 5px solid cyan;
    padding: 20px;
    width: 90%;
    margin: 0px auto;
}

.navbar {
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    background: #1f1f1f;
    color: white;
    height: 100vh;
}

.nav-list {
    margin: 20px 0px;
    padding: 0;
    list-style-type: none;
}

.nav-list-item {
    display: block;
    text-transform: uppercase;
    height: 40px;
    background: #ccc;
    color: black;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 90%;
    max-width: 330px;
}

.nav-list-item:hover {
    font-weight: bold;
}

.nav-list-item-active {
    background-color: #1f1f1f;
    color: white;
    font-weight: bold;
    border-left: 3px solid cyan;
    border-right: 3px solid cyan;
    
    transition: background-color .35s ease-in;
}

Link {
    text-decoration: none;
}