.comment {
  color: #1f1f1f;
  background: #ccc;
  margin: 1em auto;
  border-radius: 10px;
}

.comment-text {
  padding: 1em;
  font-weight: bold;
}

.comment-buttons {
  display: flex;
  padding-bottom: .5em;
}

.vote {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.icon-img {
  color: #61dafb;
  width: 24px;
  height: 24px;
}

.icon {
  background-color: #1f1f1f;
  margin-left: 1em;
}

.up:hover {
  background-color: green;
  cursor: pointer;
}

.down:hover {
  background-color: red;
  cursor: pointer;
}

.vote-count {
  margin-left: .5em;
}
