.text-input,
.text-input-invalid {
  width: 100%;
  background: #1f1f1f;
  color: #61dafb;
  font-size: 1.2em;
  padding: 2px;
  border: 2px solid #61dafb;
  border-radius: 10px;
  padding: 0.5em;
}

.text-input:focus {
  outline: none;
  border: 2px solid white;
}

.text-input-invalid {
  border: 2px solid red;
}

.text-area {
  box-sizing: border-box;
  height: 400px;
}
.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-msg {
  color: white;
}
