* {
  margin: 0;
  padding: 0;
}

body {
  background: #fdf2e9;
}
.facultyContainer {
  width: 80%;
  margin: 0 auto;
  color: #1f1f1f;
}

.facultyListHeader {
  text-align: center;
  font-family: "Exo 2";
  color: #c4a878;
  font-size: 3em;
}

.faculty {
  position: relative;
  background: #c4a878;
  border-radius: 10px;
  color: #fdf2e9;
  padding: 1em;
  margin: 1em;
  font-family: "Exo 2";
  border: 2px solid #c4a878;
}
.facultyRatingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.05);
}
.faculty:hover {
  text-decoration: none;
  background: #fdf2e9;
  color: #c4a878;
}
.facultyName {
  font-size: 2em;
}

.facultyInitials {
  margin-top: 1em;
}

.facultyRating {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 2em;
}
